*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffe6;
}

#wrapper{
    width: 1280px;
    margin: 0 auto;
}

li{
    list-style: none;
    align-self: center;
}

.title{
    font-size: 2em;
}

.cartNumber{
    color: white;
    position: relative;
    right: 1.14em;
    bottom: .6em;
}

li a{
    text-decoration: none;
    color: #000;
    font-size: 3em; 
}

ul{
    display: flex;
    justify-content: space-between;
    margin-right: 10em;
}

.showCase>h2{
    text-align: center;
    margin-top: 5em;
}

.osteListe{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 50px;
    text-align: center;
    margin-top: 3em;
}

.findOs{
    text-align: center;
    margin-top: 7em;
}
.findOs h1{
    margin-bottom: 1em;
}

footer{
    background-color: #c9bc00;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20em;
}

.kontakt{
    padding-top: 2em;
}

p>a{
    color: #000;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 1em;
}
input{
    margin-bottom: 1em;
}
.statusMessage{
    color: red;
}
.formDel{
    margin-top: 2em;
}

#form__submit{
    margin-top: 1em;
    width: 100px
}
.alleOste{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
}

#allCheeses{
    text-align: center;
    margin: 2em 0;
}